<%- include('partials/_header.ejs')%>
    <%- include('partials/_navigation.ejs')%>
<div class="all-title-box">
    
        
    </div>
</div>
<div id="overviews" class="section wb">
        <div class="content">
            <div class="container">
                <div class="row">
                    <%for (let i=0;i<sjobs.students.length;i++){%>
                    <div class="col-md-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div  class="thumb-md member-thumb mx-auto"><img style="width: 120px;height: 120px;" src="<%=sjobs.students[i].image%>" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <h4><%=sjobs.students[i].firstName%></h4>
                                    <p class="text-muted">@<%=sjobs.students[i].username%></p>
                                </div>
                               
                                <a href="/users/<%=sjobs.students[i].slug%>"><button class="btn btn-primary">Inspect</button></a> 
                            </div>
                        </div>
                    </div>
                    <%}%>
        </div>
        </div>
        </div>
   
</div><!-- end section -->

<%- include('partials/_footer.ejs')%>
    